<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
      <li class="menu-items"><a class="menu-links" href="https://github.com/artemsheludko/fresh">Github project</a></li>
      <li class="menu-items"><a class="menu-links" href="https://github.com/artemsheludko/fresh/archive/master.zip">Download</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://www.facebook.com/{{site.facebook}}" class="social-links"><i class="social-icons fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://twitter.com/{{site.twitter}}" class="social-links"><i class="social-icons fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://plus.google.com/{{site.google-plus}}" class="social-links"><i class="social-icons fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
